.btn{
    padding: .6em 1.7em;
    font-size: 1em;
    font-weight: bold;
    background-color: #D72323;
    color: #eee;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #D72323;
    transition: .3s;
}
.btn:hover{
    border: 2px solid #cf5858;
}